node_modules

src/index.html
dist/index.html

src/main.ts
dist/main.js
dist/main.js.map
dist/main.d.ts

src/renderer.worker.ts
dist/renderer.worker.js
dist/renderer.worker.js.map
dist/renderer.worker.d.ts

src/renderer.ts
dist/renderer.js
dist/renderer.js.map
dist/renderer.d.ts